button {
    font-size: 14pt;
    margin: 5px;
}



input {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

#clear {
    font-size: 14pt;
}

body {
    text-align: center;
    background-color: rgba(0, 255, 255, 0.548)
}

.inputs {
    width: 50px;
}


