html {
    box-sizing: border-box; 
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Rajdhani', sans-serif;

}
.container {
    margin: auto;
    height: 100vh;
    width: 95vw;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 10vw 10vw 1fr;
    grid-template-rows: 20vh 10vh 10vh 2fr;
    grid-template-areas: 
    "header header header header"
    ". startdis startunit ."
    ". enddis endunit ."
    ". button button .";
}
/* .space {
    grid-area: space
} */
.header {
    grid-area: header;
    /* text-align: center; */
    align-self: center;
    justify-self: center;
}
.startdis {
    grid-area: startdis;
    justify-self: center;
    align-self: center;
}
.startunit {
    grid-area: startunit;
    justify-self: center;
    align-self: center;
}
.enddis {
    grid-area: enddis;
    justify-self: center;
    align-self: center;
}

.endunit {
    grid-area: endunit;
    justify-self: center;
    align-self: center;
}
.button {
    height: 150px;
    grid-area: button;
    justify-self: stretch;
    align-self: stretch;
    border-radius: 10px;
    font-size: 32px;
}
input {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size:20px;
}
h2 {
    margin: 10px;
}
