html body {
  background-color: #fff;
  color: #000;
  font-family: 'Quattrocento', serif;
  font-size: 2em;

}

.my-h1 {
  font-size: 2em;
  color:#333;
  font-family: 'Quattrocento', serif;
}
nav {
  position: fixed;
  top:0px;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 6px #ccc;
  z-index: 3;
}
button {
  box-shadow: 6px 6px 6px #E6E6E6;
}

button:active {
  position:relative;
  top: 6px;
  left: 6px;
  box-shadow: 0px 0px 6px #E6E6E6;
}
.my-nav {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display:flex;
  justify-content: space-around;

}
#my-input {
  border:none;
  background-color: #E6E6E6;
  box-shadow: 6px 6px 6px #E6E6E6;
  margin-right: 6px;
  margin-left: 6px;

}
.my-container {
  margin-top: 150px;
  display:flex;
  flex-direction: column;
  /* background-color: pink; */
}
.gallery-columns{
  width:100%;
}

/* #response-section {
  line-height: 6px;

} */

@media only screen and (min-width:768px){
  .my-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40px 30% 1fr 30% 40px;
    /* background-color: red; */
  }
  #response-section {
    margin:10px;
    grid-column: 2 / span 1;
    grid-row:  1 / span 1;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #response-section2 {
    margin:10px;
    grid-column: 3 / span 1;
    grid-row:  1 / span 1;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  #response-section3 {
    margin:10px;
    grid-column: 4 / span 1;
    grid-row:  1 / span 1;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .my-img:hover{
    width:110%;
    box-shadow: 6px 6px 12px #333;
    z-index: 2;

  }
}

.my-img {
  height: auto;
  width: 100%;
  transition: all .25s;

}

#lightbox {
  position:fixed;
  top:-1000px;
  background-color: #fff;
  height: 100%;
  width:100%;
  z-index: 1;
  display:block;
  padding-top:100px;
  transition: top 1s ease-in-out;
}

.lightbox-image {
  width:70%;
  margin-left: 15%;
  max-height: 80vh;
  object-fit:cover;
  box-shadow: 6px 6px 12px #ccc;

}

#close-btn {
  border:none ;
  padding:none;
  font-size: 2em;
  color:#333;
  position: absolute;
  left: 85%;
  top:20px;
}

#close-btn:hover {
  color:#ccc;
  background-color: #fff;
}


#my-footer {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height:150px;
}
