html body {
  background-color: #fff;
  color: #000;
  font-family: 'Quattrocento', serif;

}

.my-h1 {
  font-size: 2em;
  color:#ccc;
  font-family: 'Quattrocento', serif;

}

nav {
  position: fixed;
  top:0px;
  width: 100%;
  background-color: #fff;
  box-shadow: 6px 6px 6px #E6E6E6;

}
.my-nav {
  padding-top: 20px;
  display:flex;
  justify-content: space-around;
}
#my-input {
  border:none;
  background-color: #E6E6E6;
  box-shadow: 6px 6px 6px #E6E6E6;
  margin-right: 6px;

}
.my-container {
  padding:20px;
  margin-top: 200px;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40px 30% 1fr 30% 40px;
}

#response-section {
  grid-column: 2 / span 1;
  grid-row:  1 / span 1;
  line-height: 0;
}
#response-section2 {
  grid-column: 3 / span 1;
  grid-row:  1 / span 1;
  line-height: 0;

}
#response-section3 {
  grid-column: 4 / span 1;
  grid-row:  1 / span 1;
  line-height: 0;

}
button {
  box-shadow: 6px 6px 6px #E6E6E6;
}

button:active {
  position:relative;
  top: 6px;
  left: 6px;
  box-shadow: 0px 0px 6px #E6E6E6;

}

.my-img {
  height: auto;
  width: 100%;
  /* border-radius: 5px; */
  /* border: 1px solid #000;*/
  box-shadow: 6px 6px 6px #E6E6E6;
  transition: width .15s;
  z-index: 1;
}

.my-img:hover{
  width:110%;
  overflow:visible;
  z-index: 2;
}

.gallery-columns {

}
.my-footer {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
