<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Todo List</title>
    <!-- Add your styles here! -->
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div id="app" v-bind:title="hover" v-if="things">
        {{ message }}
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
        <button v-on:click="reverseMessage">Reverse</button>
        <input type="text" v-model="message">
    </div>

    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <script src="https://unpkg.com/vue"></script>
    <!-- Include your code here... -->
    <script src="/js/main.js"></script>
</body>
</html>