#app {
    margin: 20px;
    padding: 10px;
}
#todo {
    width: 50vw;
    margin-bottom: 50px;
}
#done {
    width: 50vw;
}

ul {
    list-style-type: none;
}
#todo li {
    display:block;
    background: lightgreen;
    margin: 20px;
    padding: 10px;
    border-radius:5px;
    width: 40vw;
}
#done > li {
    background: lightgray;
    margin: 20px;
    padding: 10px;
    border-radius:5px;
    width: 40vw;
    color: grey;
}
#trash {
    margin-left: 2vw;
    color: firebrick;
    
}
#undo {
    margin-left: 2vw;
    color: rgba(72, 72, 235, 0.555);
    
}
#done #trash {
    margin-left: 2vw;
    color: rgba(178, 34, 34, 0.514);

}
#check {
    color: green;
}

i {
    float:right;
}

button {
    border-radius: 5px;
    border: none;
    background-color: lightsalmon;
    height: 30px;
}
input {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 160, 122, 0.514);
    width: 50vw;
}
