.container {
    margin: 5px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 25vh 1fr;
    grid-template-areas:
    "header header"
    "todo done"
}
#new {
    grid-area: header;
    height: 25px;
    text-align: center;
}
#list {
    grid-area: todo;
    width: 50vw;
    height:70vh;
}
#complete {
    grid-area: done;
    width: 50vw;
    height:70vh;
}

ul {
    list-style-type: none;
}
#list > li {
    background: lightblue;
    margin: 20px;
    padding: 10px;
    border-radius:15px;
    width: 40vw;
}
#complete > li {
    background: lightgreen;
    margin: 20px;
    padding: 10px;
    border-radius:15px;
    width: 40vw;
}
.trashBtn {
    margin-right: 2vw;
    color: firebrick;

}
 .check {
     color: green;
 }
