@import 'normalize';

.atm {
    margin: 0 auto;
    width: 80%;
}

.card {
    margin: 2em 1em;
    padding: 2em;
    width: 30%;

    h1 {
        margin-top: 0;
    }

    button {
        background-color: rgb(158, 67, 219);
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.transactions {
    display: none;
}