
html, body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin:50px;
}
input[type="text"] {
    width:33%;
}
.item-title-disp {
    font-weight: bold;
}
.remove-item {
    float:right;
}
#grocery-list {
    display:flex;
    justify-content: space-around;
}
.grocery-list-headers {
    display: flex;
    justify-content: space-around;
}
.purchased-items {
    width:100%;
    display: flex;
    flex-direction: column;
    padding:20px;
}
.to-buy-items {
    display: flex;
    flex-direction: column;
    width:100%;
    border:solid 1px #f1f1f1;
    padding:20px;
}