html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrapper {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  display:block;
  margin: 20px;
}
.header {
  grid-column: 1 /span 4;
  grid-row: 1;
  text-align: center;
}
#user {
  font-size: 12px;
  text-align: right;
}


h1 {
  text-align: center;
  font-size: 34pt;
  font-family: 'Courgette', cursive;
  
}
img {
  width: 98.5%;
  display: block;
  margin: 10px;
}
.main {
  grid-column: 1 /span 4;
  grid-row: 2 /span 3;

}

.container-items {
  grid-row: 5 / span 1;
  grid-column: 1 / span 4;
  display: flex;
}

.item {
  width: 33%;
}

a {
  color: black;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  display: inline-block;
}
a:hover {
  color: whitesmoke;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body {
  background-color: rgb(96, 96, 99);
  text-align: center;
}

h2 {
  font-family: 'Courgette', cursive;
}