

{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Grocery List App</title>

    <link rel="stylesheet" type="text/css" href="{% static 'grocerylistapp/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'grocerylistapp/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'grocerylistapp/styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    {% block js %}
    {% endblock %}
</body>