h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 12px;
}
ul{
    overflow: hidden;
    background-color: #333;
}
.navbar li{
    float: none;
}
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.navbar li a:hover{
    background-color: #111;
}
img{
    width: 100%;
}
header h1{
    margin: 12px;
}
.sidebar{
    display: none;
}
article div{
    background-color: white;
}
article p{
    background-color: #555;
    color: white;
}
article h3{
    background-color: #555;
    color: white;
    text-align: center;
}
footer{
    background-color: #111;
    color: white;
    text-align: center;
}

@media (min-width: 640px){
    .navbar li{
        float:left;
        border-right: 1px solid #bbb
    }
    .navbar li:last-child{
        border-right: none;
        float: right;
    }
    .navbar{
        position: sticky;
        position: -webkit-sticky;
    }
    .sidebar{
        display: block;
        width: 20%;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
        grid-area: 1/ 1/ 4/ 2;
    }
    .sidebar a{
        display: block;
        color: #000;
        padding: 8px 16px;
    }
    .sidebar a:hover{
        background-color: #555;
        color: white;
    }
    .container{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 50px;
        justify-items: stretch;
    }
}