html {
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  /* background-color: rgb(166, 182, 185); */
  background-color: rgb(230, 227, 222);
  /* background-color: rgb(222, 233, 235); */


}
*, *:before, *:after {
  box-sizing: inherit;
}
header {
  position: fixed;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
  /* background-color: #323E40; */
  background-color: rgb(230, 227, 222);

}

body {
    margin: 0px;
}

header > h1 {
  margin: 0px;
}
header > nav {
  float: right;
  padding: 1vw;
  margin: 0px;
}

nav > p {
  float: left;
  margin: 5px;
}

h1, h2, h3 {
    color: #952002;
    font-family: 'Cormorant Unicase', serif;
    /* text-shadow: 0 0 3px black; */
    font-weight: bolder
}

article > hr {
    border-color:  rgb(242, 171, 39, .5);
    border-style: solid;
    margin-left: 5px;
    /* text-align: left; */
    width: 60%;
}

article {
    background-color:rgb(250, 244, 234);
    /* border: 2px solid #D97D0D; */
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 0;
    line-height: 1.2em;
    /* height: 7.2em;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* border: 1px double #3D2002; */
}
p {
    font-size: 14px;
    color: #3D2002;
}
article > h2 {
    text-shadow: none;
    margin-bottom: 0;
}

.column {
  margin-top: 60px;
}

#right {
  float: right;
  margin-right: 5vw;
  max-width: 80%;
}

#left > hr {
    text-align: center;
    width: 40%;
    /* border: 1px solid #952002; */
}

#left {
  float: left;
  margin-left: 5vw;
  margin-top: 20vh;
  text-align: right;
  padding-right: 25px;
}

#left > h2, h3 {
  text-align: center;
  margin: 10px 5px;
}

#left > h3 {
    font-style: italic;
    margin-bottom: 50px;
}

#left > p {
  padding-right: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 500px;
  /* border: 2px solid #3D2002; */
  /* box-shadow: 0 0 3px; */
}
a {
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    color: #D97D0D;
    font-weight: 600;

    /* text-shadow: 0 0 6px black; */
}

a:visited {
    color: #D97D0D;
    font-weight: 600;
    /* text-shadow: 0 0 6px white; */
}

a:hover {
    color:rgb(230, 227, 222);
    background-color:#D97D0D;
    transition: .25s;
    padding: 3px;
    border-radius: 5px;
    font-weight: 600;
    text-shadow: none;
}
footer {
    margin-left: 15vw;
}

footer > nav {
    text-align: center;
}

footer > a {
    padding: 40px, 40px;
}

@media (min-width: 768px) {

    .column {
      float: right;
    }

    header > h1 {
        float: left;
        margin: 5px;
        margin-left: 20vw;
    }

    header > nav {
        padding-left: 5vw;

    }
      
    #left {
        border-right: 2px outset rgba(242, 171, 39, .8);
        max-width: 25%;
        position: fixed;
    }

    #right {
        max-width: 60%;
    }
}

@media (min-width: 1024px) {

    #left {
        max-width: 25%;
        position: fixed;
    }

    #right {
        max-width: 60%;

    }
}

/* 
#323E40
#F2AB27
#D97D0D
#732002
#D94D1A
https://color.adobe.com/trends/Flavour */