:root {
  --primary-color: #AAF700; /* bright green */
  --secondary-color: #0257FA; /* blue */
  --tertiary-color: #669AFA; /* lighter blue */
  --font-color: #C2DB8A; /* light green */
  --bg-color: #292929; /* Dark gray */
  --heading-color: #FFFFFF; /* white */
}

body {
    background-color: #333;
    color: #fff;
    font-size:18px;
}

main{

  min-height: 70vh;
}
  
h1,h2,h3,h4,h5,h6 {
 color: var(--tertiary-color);
}
h2 {
  color: var(--font-color);
}

h3 {
  color: var(--tertiary-color);
  font-size: 16px;
  margin-left: 20px;
}

textarea {
  color:#fff;
}

@media only screen and (min-width: 768px) {
  .container {
    width:50%;
  }
}

input {
  color: var(--heading-color);
}
a {
  color: var(--font-color);
}
a:hover {
  color: var(--primary-color);
}
input:focus {
  color:var(--primary-color);
  border-bottom: 1px var(--primary-color) solid;
}
.chirp-link{
  width:100%;
}
.chirp-link p {
  color:#fff;
}
.chirp-link h4 {
  color: var(--font-color);
}
.chirp-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chirp-list {
  padding: 10px;
  margin: 10px;
  margin-top:20px;
  width:100%;
  transition: width .25s;
  -webkit-transition: width .25s; /* Safari */
}
.chirp-list:hover {
  width:102%;
}
hr {
  border-color: var(--bg-color);
}
.nav-extended {
  background: var(--bg-color);
}
.nav-content {
  margin-left:10%;
}
nav ul a:hover {
  border-bottom:4px  #333 solid;
}
.btn, .btn-floating {
  background: var(--secondary-color);

}
.btn:hover, .btn-floating:hover {
  background: var(--tertiary-color);
}
.if-auth {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.auth-btn {
  margin-left:20px;
}
.right {
  margin-right: 10%;
}
.left {
  margin-left: 10%;
}

footer {
  width:100%;
  height:20vh;
  background-color: var(--bg-color);
  margin-top:20px;
}
.footer-div {
  padding-top:20px;
  display:flex;
  justify-content: center;
}
.footer-div h3 {
  font-size:1.15em;
  
}