html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  background-color: dimgrey;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  position: fixed;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: dimgrey;
  /* border-top: 10px solid aliceblue */
}

header > h1 {
  float: left;
  /* padding: 1vw; */
  margin: 5px;
  margin-left: 20vw;
}
header > nav {
  float: right;
  padding: 1vw;
  padding-left: 5vw;
}

nav > p {
  float: left;
  margin: 5px;
}

h1, h2, h3 {
    color: maroon;
}

hr {
    border-color:  palegoldenrod;

}
.column {
  float: right;
  margin-top: 60px;
  /* margin: 6px; */
  /* padding: 12px; */
  /* max-width: 48%; */
  /* background-color: gray; */
}

#right {
  float: right;
  margin-right: 5vw;
  max-width: 45%;
}


#right > p { 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

#right > h2 {
    margin: 5px;
}

#left {
  position: fixed;
  float: left;
  max-width: 25%;
  border-right: 2px outset palegoldenrod;
  margin-left: 20vw;
  text-align: right;
  padding-right: 25px;
  /* background-color: palegoldenrod; */
}

#left > h2, h3 {
  text-align: center;
  margin: 10px 5px;
  color: maroon;
}

#left > h3 {
    font-style: italic;
}

#left > p {
  padding-right: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  /* padding: 10vw; */
}
a {
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    color: darkgoldenrod; 
}

a:visited {
    color: #ccb800;
    font-weight: 200;

}

a:hover {
    color: dimgrey;
    background-color:darkgoldenrod;
    padding: 3px;
    border-radius: 5px;
    font-weight: 200;

}

footer {
    position: fixed;
    /* display: inline; */
    padding-top: 93vh;
    padding-left: 18vw;
}
