body {
  padding : 0px;
  margin : 0px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9fa;
  /* snow */
}
* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  display:inline;
  margin:0px;
  color:#262626;
  /* raisin black */
  font-family: 'Rubik', sans-serif;
}
.recent-articles h3 {
  border-bottom: 4px solid #cccccc;
}

.my-article h2 {
  border-bottom: 4px solid #cccccc;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.row-spacer{
  margin-bottom: 200px;
}


/* Mobile design */
[class*="col-"]{
  float:left;
  padding: 8px;
  width: 100%;
  /* border:1px solid red; */
}
.aside-left {
  display:none;
}
.desktop-show {
  display:none
}

.col-1-s {width: 25.00%;}
.col-2-s {width: 50%;}
.col-3-s {width: 75%;}
.col-4-s {width: 100%;}

/* For tablets: */
@media only screen and (min-width: 768px) {
  [class*="col-"]{
    float:left;
    padding: 8px;
    /* border:1px solid red; */
  }
}

@media only screen and (min-width: 960px) {
  .row-spacer{margin-bottom:40px;}
  .aside-left {
    display:block;
    width:120%;
    margin-right:16px;
  }
  .nav-link-div {
    display:none;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* For desktop: */
@media only screen and (min-width:1440px) {
    .desktop-show {
      display:block;
  } 
    .aside-left{
      width:100%;
    }
}

a{
  text-decoration: none;
  color: #60E07C;
 /* malachite  */
}
a:hover{
  color: #262626;
  transition: color 0.25s;

  /* Raisin Black */
}
a:visited{
  /* color: #46A35B; */
  /* Keppel */
}

.header-div {
  background-color: #FAFFF9;
  box-shadow: 2px 2px 2px #cccccc;
  position:fixed;
  width:100%;
}
.logo-div{
  background-color: #262626;
  padding:0px;
  border-radius: 16px;
  text-align: center;
  /* width:75%; */
}
.fa-dragon{
  /* color:#FAFFF9; */
}

.logo-header {
  color:#FAFFF9;
  margin:0px;
  /* width:100%; */
}
.aside-link {
  display:block;
  padding:12px;
  border-bottom: 4px solid #cccccc;
}
.aside-link:hover {
  border-bottom: 4px solid #262626;
  transition: border-bottom 0.25s;
}
.nav-link:hover{
  border-bottom: 4px solid #262626;
}
.my-button {
  background-color: #60E07C;
  margin:0px;
  border-radius: 4px;
  border: 3px solid #262626;
  font-size: 1.0em;
}

.my-button:hover{
  background-color: #46A35B;
  transition: background-color 0.25s;
}

.nav-button {
  height:40px;
  width:160px;
 
}
.nav-link-div{
  float:right;
  width:50%;
  border-bottom:4px solid #cccccc;
}
.nav-link{
  font-size:1.15em;
  margin-left:10%;
  border-bottom: 4px solid #cccccc;
}

.nav-search {
  padding:12px;
  height:40px;
  width: 100%;
  border-radius: 4px;
  background-color: #f9f9fa;
  border:0px;
}

.my-aside {
  border:1px solid #cccccc;
  box-shadow: 2px 2px 2px #cccccc;
  background-color: #fff;
  margin-top: 40px;
  height: 100%;
  padding:8px;
}

.my-article {
  border:1px solid #cccccc;
  box-shadow: 2px 2px 2px #cccccc;
  padding:25px;
  margin-top: 40px;
  height:100%;
  margin-bottom: 40px;
  background-color: #fff;
}

.article-icons a {
  margin:8px;
  font-size: 1.5em;
}

.publish-date {
  color:#cccccc;
  font-size:.8em;
  float:right;
}
.recent-articles {
  margin-top:20px;
}
.recent-articles > h3 {
  margin-top:20px;
}
.my-footer {
  border:1px solid #cccccc;
  box-shadow: 2px 2px 2px #cccccc;
  background-color: #262626;
  color:#f9f9fa;
  height:100%;
  padding: 20px;
}
.my-footer h3 {
  color:#f9f9fa;
}
.footer-link {
  display:block;
}

.footer-link:hover {
  color:#46A35B;
}