<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Chatroom Log</h1><hr>
    <div  style="position:absolute; top:10px; left:70%;">
      <table border =1>
        <td style="padding:3px;">
        <p> User Actions: {{ counter_string }}</p>
      </td>
      </table>
    </div>
  </body>
</html>

<h3 style="color:green"> tate says: hello</h3>

<h3 style="color:blue"> tate says: this is blue</h3>

<h3 style="color:blue"> tate says: change color</h3>

<h3 style="color:purple"> tate says: this is purple</h3>

<h3 style="color:purple"> Tate says: Hello world</h3>

<h3 style="color:purple"> Tate says: nothing</h3>

<h3 style="color:purple"> Tate says: quit</h3>

<h3 style="color:purple"> Tate says: clear</h3>

<h3 style="color:purple"> Tate says: quit</h3>

<h3 style="color:red"> tate says: hello</h3>

<h3 style="color:green"> Tate says: this is green</h3>

<h3 style="color:green"> Tate says: comment</h3>

<h3 style="color:green"> Tate says: test</h3>
