<h1>Welcome <hr></h1>
<h3 style="color:green"> tate says: test comment log</h3>

<h3 style="color:green"> tate says: test comment log</h3>
test comment logquitclearhellohellohellohelloyour a comment
<h3 style="color:blue"> tate says: hello</h3>

<h3 style="color:green"> tate says: hello</h3>

<h3 style="color:green"> tate says: hello</h3>

<h3 style="color:green"> tate says: what</h3>

<h3 style="color:green"> tate says: hello</h3>

<h3 style="color:green"> tate says: new comment</h3>

<h3 style="color:green"> tate says: hello</h3>

<h3 style="color:green"> tate says: hello</h3>

<h3 style="color:green"> tate says: comment</h3>

<h3 style="color:blue"> tate says: hello</h3>

<h3 style="color:blue"> tate says: hello</h3>

<h3 style="color:blue"> tate says: ugh</h3>

<h3 style="color:blue"> tate says: quit</h3>

<h3 style="color:blue"> tate says: clear</h3>

<h3 style="color:green"> tate says: hello</h3>

<h3 style="color:green"> tate says: jell</h3>
