<h1>Welcome <hr></h1>
<h3 style="color:green"> tate says: this is gree n</h3>
<p style="position:absolute;top:10px;left:70%;">User actions: 0</p>
<h3 style="color:green"> tate says: </h3>

<h3 style="color:blue"> tate says: this is blue</h3>

<h3 style="color:blue"> tate says: </h3>
<p style="position:absolute;top:10px;left:70%;">User actions: 0</p><p style="position:absolute;top:10px;left:70%;">User actions: 0</p><p style="position:absolute;top:10px;left:70%;">User actions: 0</p><p style="position:absolute;top:10px;left:70%;">User actions: 0</p>
<h3 style="color:blue"> tate says: c</h3>
