body {
    text-align: center;
    background-color: rgb(46, 46, 110)
}

#clock{
    font-size: 45px;
}

button{
    font-size: 20px;
    padding: 20px;
    border-radius: 100%;
}

h1{
    font-size: 30pt;
}

h2 {
    font-size: 24pt;
}
li {
    list-style-type: none;
    font-size: 18pt;
}

